/* Color Variables*/

$body-bg: #e6e6e6;
$primary-color: #e0005d;
$primary-text-color: #000;
$white: #fff;
$black: #000;
/* Typography */
$primary-font-family: "Play", sans-serif;
$secondary-font-family: "Exo", sans-serif;

/*Layout*/

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;
